In [4]:
import pandas as pd
dataset = pd.read_excel("processed_data.xlsx")

In [5]:
true_dataset = dataset.loc[dataset["gold_label"]==2]
true_dataset.describe()

,id,degree,label1,label2,label3,gold_label,no_sure
count,323.000000,323.000000,323.000000,323.000000,323.000000,323.0,323.0
mean,1386.897833,0.380186,1.727554,1.835913,1.950464,2.0,0.0
std,563.269288,0.254605,0.687115,0.546881,0.290680,0.0,0.0
min,28.000000,0.100000,0.000000,0.000000,0.000000,2.0,0.0
25%,1159.500000,0.100000,2.000000,2.000000,2.000000,2.0,0.0
50%,1456.000000,0.300000,2.000000,2.000000,2.000000,2.0,0.0
75%,1861.500000,0.500000,2.000000,2.000000,2.000000,2.0,0.0
max,2196.000000,0.800000,2.000000,2.000000,2.000000,2.0,0.0

In [6]:
train = true_dataset.sample(frac=0.7)
train.describe()

,id,degree,label1,label2,label3,gold_label,no_sure
count,226.000000,226.000000,226.000000,226.000000,226.000000,226.0,226.0
mean,1400.973451,0.370796,1.743363,1.836283,1.938053,2.0,0.0
std,565.216442,0.252166,0.670373,0.545456,0.334217,0.0,0.0
min,28.000000,0.100000,0.000000,0.000000,0.000000,2.0,0.0
25%,1187.250000,0.100000,2.000000,2.000000,2.000000,2.0,0.0
50%,1475.000000,0.300000,2.000000,2.000000,2.000000,2.0,0.0
75%,1868.250000,0.500000,2.000000,2.000000,2.000000,2.0,0.0
max,2187.000000,0.800000,2.000000,2.000000,2.000000,2.0,0.0

In [7]:
train

,id,sentence1,sentence2,label,attacker,dis_type,degree,label1,label2,label3,gold_label,no_sure
277,1316,there is n't a weak or careless performance am...,there being n't a weaker or careless performan...,positive,inflect,word,0.5,2,2,2,2,0
553,2099,egoyan 's movie is too complicated to sustain ...,egoyan 's movie is too complicated to admit in...,negtive,contextual,word,0.1,0,2,2,2,0
334,1448,the makers of divine secrets of the ya-ya sist...,the makers of divine secrets of the ya-ya sist...,negtive,inflect,word,0.8,2,2,2,2,0
284,1329,the saturation bombing of reggio 's images and...,the saturation bombing of reggio 's images and...,negtive,inflect,word,0.5,2,2,2,2,0
558,2110,a film that is a portrait of grace in an imper...,a film that is no portrait of grace in an impe...,positive,contextual,word,0.1,2,2,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...
329,1433,the film is itself a sort of cinematic high cr...,the film were itself a sort of cinematic highe...,negtive,inflect,word,0.5,2,2,2,2,0
278,1317,"he just wants them to be part of the action , ...","he just want them to are parts of the action ,...",positive,inflect,word,0.5,2,2,2,2,0
374,1554,... this movie has a glossy coat of action mov...,... the movie has a glossy coat of action movi...,negtive,contextual,word,0.1,2,2,2,2,0
36,174,it helps that lil bow wow ... tones down his p...,this seems that lil ' wow ... tones down a pin...,positive,contextual,word,0.3,0,2,2,2,0
299,1371,time changer may not be the most memorable cin...,time changer may not was the most memorable ci...,positive,inflect,word,0.1,0,2,2,2,0

In [10]:
train_ls = train['id'].tolist()

In [12]:
dev = true_dataset[~true_dataset['id'].isin(train_ls)]
dev.describe()
train.to_excel("train.xlsx")
dev.to_excel("dev.xlsx")